pre.sh_sourceCode,
pre.sh_sourceCode code {
	background-color: #141414;
	color: #fff;
	font-size: 13.34px;
	font-family: Monaco, Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Courier New", monospace;
	font-weight: normal;
	font-style: normal;
}
pre.sh_sourceCode code {
	display: block;
	margin: 0;
	padding: 4px 12px;
	line-height: 18px;
	overflow-x: auto;

	border-left: 5px #ff7f12 solid;
	border-right: 2px #ff7f12 solid;
}

pre.sh_sourceCode .sh_keyword {
	color: #5e82ab;
	font-style: normal;
}
pre.sh_sourceCode .sh_function {
	color: #c9a76e;
	font-style: normal;
}

pre.sh_sourceCode .sh_preproc,
pre.sh_sourceCode .sh_url,
pre.sh_sourceCode .sh_ip {
	color: #5e82ab;
	font-style: normal;
}

pre.sh_sourceCode .sh_type {
	color: #ff9640;
}

pre.sh_sourceCode .sh_string,
pre.sh_sourceCode .sh_regexp,
pre.sh_sourceCode .sh_specialchar {
	color: #8f9d6a;
	font-style: normal;
}

pre.sh_sourceCode .sh_comment {
	color: #5e5b60;
	font-style: italic;
}

pre.sh_sourceCode .sh_number {
	color: #c47254;
	font-style: normal;
}

pre.sh_sourceCode .sh_symbol,
pre.sh_sourceCode .sh_cbracket {
	color: #fff;
	font-weight: bold;
	font-style: normal;
}

pre.sh_sourceCode .sh_variable {
	color: #c6623c;
	font-weight: bold;
	font-style: normal;
}